@{
	ViewData["Title"] = "Thank You Page";
}
@{
	Layout = null;
}
<div class="text-center">
	<h4 style="font-weight: bold; color: green">Your booking is completed</h4>

	<p>
		Thank you for choosing our company.
	</p>
</div>

